# DVC
.dvc/tmp
.dvc/cache

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ipynb_checkpoints

# Cache
cache/

# Data (handled by DVC)
data/
models/

# Kaggle
/.kaggle

# IDE
.vscode/
.idea/
*.swp
*.swo
/metric.json
